a, a:visited, a:active {
  color: #585858;
}


footer {
  text-align: center;
}


.years {
  font-size: 21px;
  fill: #aaa;
}

.tooltip {
	position: absolute;
	top: 100px;
	left: 100px;
  -moz-border-radius:5px;
	border-radius: 5px;
  border: 2px solid #000;
	/* background: #222222; */
  background: #fff;
	opacity: .9;
	/* color: #eeeeee; */
  color: black;
	padding: 10px;
	width: 300px;
	font-size: 12px;
	z-index: 10;
}

.tooltip .title {
	font-size: 13px;
}

.tooltip .name {
  font-weight:bold;
}


#swizzle{
  fill-rule: evenodd;
  fill: #aaa;
  fill-opacity: .7;
  stroke: #666;
  stroke-width: 1.5px;
}

#button_text {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
   background: transparent;
}