body {
   
    font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,"sans-serif";


}


a, a:visited, a:active {
  color: #585858;
}


footer {
  text-align: center;
}


.years {
  font-size: 21px;
  fill: #aaa;
}

.tooltip {
	position: absolute;
	top: 100px;
	left: 100px;
  -moz-border-radius:5px;
	border-radius: 5px;
  border: 2px solid #000;
	/* background: #222222; */
  background: #fff;
	opacity: .9;
	/* color: #eeeeee; */
  color: black;
	padding: 10px;
	width: 300px;
	font-size: 12px;
	z-index: 10;
}

.tooltip .title {
	font-size: 13px;
}

.tooltip .name {
  font-weight:bold;
}


#swizzle{
  fill-rule: evenodd;
  fill: #aaa;
  fill-opacity: .7;
  stroke: #666;
  stroke-width: 1.5px;
}

#button_text {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
   background: transparent;
}


#calendar {
  fill: steelblue;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

.subunit.SWE { fill: #ccc; }
.subunit.DNB { fill: #dcd; }
.subunit.NOR { fill: #ccc; }
.subunit.DEU { fill: #ccc; }
.subunit.DNK-3416 { fill: #dcc; }
.subunit.DNK-3417 { fill: #cdd; }
.subunit.DNK-3418 { fill: #ccd; }
.subunit.DNK-3419 { fill: #cdc; }
.subunit.DNK-3420 { fill: #ddc; }

.place-label {
    font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,"sans-serif";
    font-weight: lighter;
  
    
}

.subunit-label {
  fill: #777;
  fill-opacity: .5;
  font-size: 20px;
  font-weight: 300;
  text-anchor: middle;

}

.subunit-boundary {
  fill: none;
  stroke: #777;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;


}
#timeline {
    margin: 0 auto;
    clear: both;
}

#vis {
    margin: 0 auto;   

}